#messages
{
    width: 100%;
    border: 1px solid #ccc;
    height: 500px;
    float: left;
    overflow: auto;
    margin-left: 0px;
    padding-left: 0px;
}

#messages li
{
    list-style-type: none;
    padding: 3px;
}